name: AutoSignin

on: 
  release:
    types: [published]
  push:
    tags:
    - 'v*'
  #  branches: 
  #    - master
  schedule:
    - cron: "0 2 * * *"
  watch:
    types: [started]
   
jobs:
  build:
    runs-on: ubuntu-latest
    if: github.event.repository.owner.id == github.event.sender.id  # 自己点的 start
    steps:
    - name: Checkout
      uses: actions/checkout@master
    - name: Set up Python #安装python
      uses: actions/setup-python@v1
      with:
        python-version: 3.8
    - name: Install requirements #安装轮子
      run: |
        pip install -r requirements.txt
    - name: set var
      run: |
        echo ${{ secrets.teleid }} > teleid.txt
        echo ${{ secrets.teletoken }} > teletoken.txt
    - name: Run script
      run: |
        python3 main.py ${{ secrets.cookie }}
    - name: remove var
      run: |
        rm cookie.txt
        rm teleid.txt
        rm teletoken.txt
